/* .footer {
  /* margin-bottom: 10%; adjust the margin to match the height of the footer */
  /* margin-top: auto; */

  /* background-color: black;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 25px 0;
} */ */

.sb_footer-section_padding{
  padding: 0.5rem 0rem;
}

.footer-wrap {
  background-color: #2d2d32;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px; /* adjust the height to it smaller */
  padding: 10px 10px; /* adjust the padding to make it smaller */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sb_footer-section_padding{
  display: flex;
  flex-direction: column;
}

.sb_footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  text-align: left;
  margin-bottom: 1rem;
}

.sb_footer-links_div{
  width: 75px;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(176, 43, 43);
}

a{
  color: rgb(29, 29, 92);
  text-decoration: none;
}

.socialmedia{
  display: flex;
  flex-direction: row;
}
.socialmedia img{
  width: auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 50%;
}

.sb_footer-links_div h4{
  font-size: 8px;/* adjust the font size to make it smaller */
  line-height: 5px;
  margin-bottom: 0.9rem;
  text-align: center;
}

.sb_footer-links_div{
  font-size: 6px;
  line-height: 5px;
  margin: 0.5rem, 0;
  cursor: pointer;
}

.h4, h4{
  font-size:x-small;
}
.sb_footer-link-div {
  font-size: 7px; /* adjust the font size to make it smaller */
  margin-left: 2px; /* add some margin between the icon and the text */
  height: 20px; /* adjust the height to make it smaller */
  padding: 5px 10px; /* adjust the padding to make it smaller */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 5px;
}
.sb_footer-link-div-map{
  line-height:4px;
  flex-direction: column;

}

.sb_footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below p{
  font-size: 12px;
  line-height: 5px;
  margin-left: 2rem;
  color: red;
  font-weight: 600;
}

hr{
  color: pink !important;
  width:100%;
}

.sb_footer-copyright p{
  font-size: 8px;
  line-height: 15px;
  color: rgb(15, 14, 14);
  font-weight: 600;
}
.footer-map{
  margin-right: auto;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .footer {
    height: 50px; /* adjust the height for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 40px; /* adjust the height for even smaller screens */
  }
}

@media screen and (max-width: 550px) {
  .footer {
    height: 30px; /* adjust the height for very small screens */
  }
}

@media screen and (max-width: 850px){
  .sb_footer-heading h1{
    font-size: 22px;
    line-height: 20px;
  }
}

@media screen and (max-width: 550px){
  .sb_footer-heading h1{
    font-size: 12px;
    line-height: 21px;
  }

.sb_footer-links div{
  margin: 1rem 0;
}
.sb_footer-btn p{
  font-size: 10px;
  line-height: 5px;
}

.sb_footer-below{
  font-size: xx-small;
  flex-direction: column;
  justify-content:flex-end;
  text-align: center;
}

.sb_footer-below-links{
  flex-direction: column;
  font-size: 0cqmin;
  font-style: normal;
  margin-left: 0rem;
  margin-top: 1rem;
}
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h1{
    font-size: 15px;
    line-height: 10px;
  }
}